In [0]:
import pandas as pd

In [0]:
df = pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz", lines=True)

In [0]:
def words(str):
  words = str.split()
  count = 0
  for w in words:
    count+=1
  return count

In [0]:
def count(str):
  wordCount = {'vowels':0,'cons':0,'count':0}
  str = str.lower()
  wordCount['count']=words(str)
  for i in range(0,len(str)):
    if str[i] in ('a','e','i','o','u'):
      wordCount['vowels']+=1
    else:
      wordCount['cons']+=1
    
  return wordCount

In [0]:
df['ReviewVowels']=df['reviewText'].apply(count)

In [0]:
df['ReviewWordcount']=df['reviewText'].apply(words)

In [7]:
df.head()

       reviewerID  ... ReviewWordcount
0  A32T2H8150OJLU  ...             186
1  A3MAFS04ZABRGO  ...             911
2  A1F1A0QQP2XVH5  ...              96
3   A49R5DBXXQDE5  ...             603
4  A2XRMQA6PJ5ZJ8  ...             120

[5 rows x 11 columns]