In [0]:
import pandas as pd

In [0]:
df = pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz", lines=True)

In [0]:

reviewlist=[]
for index, row in df.iterrows():
 review=row['reviewText']
 test_string=review
 l=[]
 l=test_string.split()
 wordfreq=[l.count(p) for p in l]
 reviewlist.append(dict(zip(l,wordfreq)))
df['wordcountreview']=reviewlist

In [0]:

summarylist=[]
for index, row in df.iterrows():
 summary=row['summary']
 stringsummary=summary
 x=[]
 x=stringsummary.split()
 wordfreq=[x.count(p) for p in x]
 summarylist.append(dict(zip(x,wordfreq)))
df['wordcountsummary']=summarylist

In [0]:
df.head()

       reviewerID  ...                                   wordcountsummary
0  A32T2H8150OJLU  ...  {'A': 1, 'solid': 1, 'performer,': 1, 'and': 1...
1  A3MAFS04ZABRGO  ...  {'Price': 1, 'of': 1, 'GOLD': 1, 'is': 1, 'up,...
2  A1F1A0QQP2XVH5  ...  {'Good': 1, 'functionality,': 1, 'but': 1, 'no...
3   A49R5DBXXQDE5  ...  {'One': 1, 'of': 2, 'the': 1, 'last': 1, 'an':...
4  A2XRMQA6PJ5ZJ8  ...                  {'Still': 1, 'the': 1, 'best': 1}

[5 rows x 11 columns]