In [0]:
import pandas as pd
import re

In [0]:
df = pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz", lines=True)

In [0]:
def beginbBendgG(l):
    
    l1 = re.findall(r'\b[bB]\w+', l)
    n = re.findall(r'\b\w+[gG]\b',l)
    for x in n:
        if x not in l1:
            l1.append(x)

    return l1

In [0]:
df['ReviewB']=df['reviewText'].apply(beginbBendgG)

In [11]:
df.head()

       reviewerID  ...                                            ReviewB
0  A32T2H8150OJLU  ...  [bought, but, by, buy, but, be, but, best, be,...
1  A3MAFS04ZABRGO  ...  [BELATED, burying, brandname, best, business, ...
2  A1F1A0QQP2XVH5  ...              [been, But, kicking, giving, working]
3   A49R5DBXXQDE5  ...  [been, because, but, buy, Black, But, beats, b...
4  A2XRMQA6PJ5ZJ8  ...  [best, business, but, be, brackets, practicing...

[5 rows x 10 columns]