In [0]:
import pandas as pd
#Reading Data
data = pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz",lines=True)

In [0]:
data1=pd.read_csv("https://raw.githubusercontent.com/zfz/twitter_corpus/master/full-corpus.csv")

In [0]:
df1=pd.DataFrame(data)
df2=pd.DataFrame(data1)

In [11]:
df1.head()

       reviewerID        asin  ...   reviewTime  Polarity
0  A32T2H8150OJLU  B00000JBLH  ...   09 3, 2004  0.180000
1  A3MAFS04ZABRGO  B00000JBLH  ...  12 15, 2007  0.170939
2  A1F1A0QQP2XVH5  B00000JBLH  ...   01 1, 2011  0.204091
3   A49R5DBXXQDE5  B00000JBLH  ...  04 19, 2006  0.214217
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...   08 4, 2013  0.350000

[5 rows x 10 columns]

In [12]:
df2.head()

   Topic  ...                                          TweetText
0  apple  ...  Now all @Apple has to do is get swype on the i...
1  apple  ...  @Apple will be adding more carrier support to ...
2  apple  ...  Hilarious @youtube video - guy does a duet wit...
3  apple  ...  @RIM you made it too easy for me to switch to ...
4  apple  ...  I just realized that the reason I got into twi...

[5 rows x 5 columns]

In [0]:
from textblob import TextBlob

In [0]:
blob = TextBlob(data['reviewText'][0])

In [6]:
print(blob)
blob.sentiment

I bought my first HP12C in about 1984 or so, and it served me faithfully until 2002 when I lost it while travelling.  I searched for another one to replace it, but found one difficult to come by in my area.  So, I decided to buy up and purchased an HP 49G.  What a mistake!  I know that many people view the HP 49G (now 49G+) as the flagship of the HP line, but for me that was a disaster.The 49G may be powerful, but using it is extremely counterintuitive...and the manual was sketchy at best.  The 12C, on the other hand, does what I need in a way that makes good sense to me.If you are looking for a solid, reliable calculator, the HP12C may be for you.  It's programmable.  It does basic statistics well, and many business applications too.  The manual makes sense; you will be up and running in short order.I'm ready to set my 49G aside and move back to my old friend.  I didn't even have to replace the batteries in well over a decade of use!HP 12C, I'm coming home!

Sentiment(polarity=0.18000000000000002, subjectivity=0.4555555555555555)

In [0]:
def blobpolarity(str) :
  return TextBlob(str).sentiment.polarity

In [0]:
df1['Polarity']=df1['reviewText'].apply(blobpolarity)

In [10]:
df1.Polarity

0        0.180000
1        0.170939
2        0.204091
3        0.214217
4        0.350000
           ...
53253    0.197628
53254    0.212514
53255    0.120779
53256    0.464940
53257    0.281190
Name: Polarity, Length: 53258, dtype: float64

In [0]:
df2['Polaritytwitter']=df2['TweetText'].apply(blobpolarity)

In [14]:
df2.Polaritytwitter

0       0.000000
1       0.500000
2       0.393750
3       0.541667
4       0.200000
          ...
5108    0.000000
5109    0.500000
5110   -0.250000
5111    0.000000
5112    0.000000
Name: Polaritytwitter, Length: 5113, dtype: float64

In [15]:
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...

/usr/local/lib/python3.6/dist-packages/nltk/twitter/__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn("The twython library has not been installed. "

True

In [0]:
sid=SentimentIntensityAnalyzer()

In [0]:
def senti(str):
  polscore=sid.polarity_scores(str)
  if polscore['compound']>=0.5 :
    return 'positive'
  if polscore['compound']<=-0.5:
    return 'negative'
  else :
    return 'neutral'

In [0]:
df1['sidscore']=df1['reviewText'].apply(senti)

In [26]:
df1.sidscore

0        positive
1        positive
2         neutral
3        positive
4        positive
           ...
53253     neutral
53254    positive
53255    positive
53256    positive
53257    positive
Name: sidscore, Length: 53258, dtype: object

In [0]:
df2['Sidtwitter']=df2['TweetText'].apply(senti)

In [28]:
df2.Sidtwitter

0        neutral
1        neutral
2       positive
3        neutral
4        neutral
          ...
5108     neutral
5109     neutral
5110     neutral
5111     neutral
5112     neutral
Name: Sidtwitter, Length: 5113, dtype: object

In [0]:
from sklearn.metrics import confusion_matrix

In [30]:
mat=confusion_matrix(df2.Sentiment,df2.Sidtwitter)
mat

array([[   0,   75, 1481,  133],
       [   0,  152,  369,   51],
       [   0,  104, 1864,  365],
       [   0,   18,  256,  245]])